TrabajoSOAP/Ramos Saturno Diego Fernando/WSCVMONEDA_CLIENT_net/WSCVMONEDA_CLIENT_net/Service References/CVMonedaService/WSCVMONEDA.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.egcc.pe/" targetNamespace="http://ws.egcc.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="dollarToEuro" type="tns:dollarToEuro" />
  <xs:element name="dollarToEuroResponse" type="tns:dollarToEuroResponse" />
  <xs:element name="dollarToSol" type="tns:dollarToSol" />
  <xs:element name="dollarToSolResponse" type="tns:dollarToSolResponse" />
  <xs:element name="euroToDollar" type="tns:euroToDollar" />
  <xs:element name="euroToDollarResponse" type="tns:euroToDollarResponse" />
  <xs:element name="euroToSol" type="tns:euroToSol" />
  <xs:element name="euroToSolResponse" type="tns:euroToSolResponse" />
  <xs:element name="solToDollar" type="tns:solToDollar" />
  <xs:element name="solToDollarResponse" type="tns:solToDollarResponse" />
  <xs:element name="solToEuro" type="tns:solToEuro" />
  <xs:element name="solToEuroResponse" type="tns:solToEuroResponse" />
  <xs:complexType name="dollarToEuro">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dollarToEuroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solToDollar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solToDollarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="euroToSol">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="euroToSolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dollarToSol">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dollarToSolResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="euroToDollar">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="euroToDollarResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solToEuro">
    <xs:sequence>
      <xs:element name="arg0" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="solToEuroResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>