Tema04/EjemplosXML/src/xml/venta.dtd

<!-- venta.dtd -->
<!ELEMENT venta (cliente, articulos)>
<!ELEMENT cliente (nombre, direccion)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT articulos (articulo+)>
<!ELEMENT articulo (nombre, precio, cantidad)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ELEMENT cantidad (#PCDATA)>
